In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../data/adult.csv')

In [6]:
print("Info:\n")
display(df.info())
print("\n-------------------\nHead:\n")
display(df.head(3))
print("\n-------------------\nTail:\n")
display(df.tail(3))
print("\n-------------------\nSample:\n")
display(df.sample(3))
print("\n-------------------\nDescribe:\n")
display(df.describe())

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

None

-------------------
Head:

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K

-------------------
Tail:

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

-------------------
Sample:

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
28220,56,Private,134286,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
12429,20,Private,41721,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,60,United-States,<=50K
18567,67,Local-gov,176931,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,20,United-States,<=50K

-------------------
Describe:

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [7]:
print(f"Race Value Counts:\n{df['race'].value_counts()}")

Race Value Counts:
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [8]:
print(f"Sex Value Counts:\n{df['sex'].value_counts()}")

Sex Value Counts:
sex
Male      21790
Female    10771
Name: count, dtype: int64

In [9]:
print(f"Education Value Counts:\n{df['education'].value_counts()}")

Education Value Counts:
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [10]:
print(f"Income Value Counts:\n{df['income'].value_counts()}")

Income Value Counts:
income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [13]:
print(f"Education Value Counts:\n{df['education'].value_counts()}")

Education Value Counts:
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [14]:
df[df['education'] == 'Preschool'].sample(20)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
22829,61,Private,98350,Preschool,1,Married-spouse-absent,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,40,China,<=50K
17344,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
22021,63,Private,440607,Preschool,1,Married-civ-spouse,Prof-specialty,Husband,Other,Male,0,0,30,Mexico,<=50K
11276,52,?,248113,Preschool,1,Married-spouse-absent,?,Other-relative,White,Male,0,0,40,Mexico,<=50K
32381,46,Private,139514,Preschool,1,Married-civ-spouse,Machine-op-inspct,Other-relative,Black,Male,0,0,75,Dominican-Republic,<=50K
25611,42,Private,572751,Preschool,1,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Nicaragua,<=50K
23541,39,Private,341741,Preschool,1,Never-married,Other-service,Not-in-family,White,Female,0,0,12,United-States,<=50K
31891,31,State-gov,77634,Preschool,1,Never-married,Other-service,Not-in-family,White,Male,0,0,24,United-States,<=50K
32262,40,Private,70645,Preschool,1,Never-married,Other-service,Not-in-family,White,Female,0,0,20,United-States,<=50K
11856,20,Private,277700,Preschool,1,Never-married,Other-service,Own-child,White,Male,0,0,32,United-States,<=50K
25289,54,Private,349340,Preschool,1,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,India,<=50K
14107,53,Private,188644,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico,<=50K
26087,48,Private,209182,Preschool,1,Separated,Other-service,Unmarried,White,Female,0,0,40,El-Salvador,<=50K
3260,32,Private,112137,Preschool,1,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,4508,0,40,Cambodia,<=50K
6773,31,Private,452405,Preschool,1,Never-married,Other-service,Other-relative,White,Female,0,0,35,Mexico,<=50K
1153,40,Private,566537,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,1672,40,Mexico,<=50K
32446,36,Private,208068,Preschool,1,Divorced,Other-service,Not-in-family,Other,Male,0,0,72,Mexico,<=50K
14432,65,?,293385,Preschool,1,Married-civ-spouse,?,Husband,Black,Male,0,0,30,United-States,<=50K
7787,52,Private,416129,Preschool,1,Married-civ-spouse,Other-service,Not-in-family,White,Male,0,0,40,El-Salvador,<=50K
23861,40,Private,182268,Preschool,1,Married-spouse-absent,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K